.jsonviewer {
	font-family: monospace;
}
.jsonviewer div.nested { 
	margin-left: 20px; 
}
.jsonviewer .key { 
	font-weight: bold; 
}
.jsonviewer .number { 
	color: blue; 
}
.jsonviewer .boolean { 
	color: #000088; 
}
.jsonviewer .null { 
	color: #000088; 
}
.jsonviewer .string { 
	color: green; 
}
.jsonviewer .undefined { 
	color: gray; 
}
.jsonviewer .token { 
	color: #AAAAAA;
}
.jsonviewer .open_token {
	cursor: pointer;
}
.jsonviewer .ellipsis { 
	color: #A050C0;
}
.jsonviewer .header { 
	cursor: pointer;
}
.jsonviewer .footer { 
	cursor: pointer;
}
.jsonviewer .collapsed { 
	cursor: pointer;
}